.popuver {
    position: absolute;
    z-index: var(--modal-z-index);

    display: flex;
    flex-direction: column;
    padding: 8px;

    border-radius: 12px;

    overflow: hidden;

    background: var(--listbox-bg);
}
