.card {
    margin-right: 30px;
    margin-bottom: 30px;
}

.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    .card {
        margin-right: 30px;
        margin-bottom: 30px;
    }
    display: flex;
    flex-wrap: wrap;
}
