.blockUser {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.CommentItem {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.nameUser {
    margin-left: 10px;
}

.loading {
    border: none;
}
