.btn {
    margin: 0;
    padding: 0;
    border: none;

    background: none;
    outline: none;
}

.Popups {
    position: relative;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.5;
}

.readonly {
    opacity: 0.5;
}

.topRigth {
    bottom: 100%;
    left: 0;
}

.bottomRigth {
    bottom: 1;
    left: 0;
}

.topLift {
    right: 0;
    bottom: 100%;
}

.bottomLift {
    right: 0;
    bottom: 1;
}
