.app_dark_theme {
    --bg-color: #000484;
    --inverted-bg-color: #f4f4fb;
    --primary-color: #f4f4fb;
    --secondary-color: #c6c3c9;
    --inverted-primary-color: rgb(255 228 201);
    --inverted-secondary-color: rgb(190 209 207);

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-shadow: rgb(34 34 34);
    --skeleton-color: #0006c3;

    // bg code
    --bg-code: rgb(2 0 30);

    // bg card
    --bg-card: #0006b3;

    // listbox
    --listbox-bg: #0006b3;
}
