.app_dark_theme {
    --bg-color: rgb(6 0 71);
    --inverted-bg-color: rgb(255 247 241);
    --primary-color: rgb(179 0 94);
    --secondary-color: rgb(255 95 158);
    --inverted-primary-color: rgb(255 228 201);
    --inverted-secondary-color: rgb(190 209 207);

    // skeleton
    --skeleton-shadow: rgb(178 157 136);
    --skeleton-color: rgb(148 165 163);

    // bg code
    --bg-code: rgb(2 0 30);
}
