.app_ligth_theme {
    --bg-color: #f4f4fb;
    --inverted-bg-color: #000484;
    --primary-color: #0005b2;
    --secondary-color: #77747a;
    --inverted-primary-color: rgb(179 0 94);
    --inverted-secondary-color: rgb(255 95 158);

    // skeleton
    --skeleton-shadow: rgb(34 34 34);
    --skeleton-color: #aaaaae;

    // bg code
    --bg-code: rgb(187 181 176);

    // bg card
    --bg-card: #bbbbc2;

    // listbox
    --listbox-bg: #bbbbc2;
}
