.app_red_theme {
    --bg-color: #8f21ff;
    --inverted-bg-color: #f4f4fb;
    --primary-color: #f7f4fb;
    --secondary-color: #c6c3c9;
    --inverted-primary-color: rgb(255 228 201);
    --inverted-secondary-color: rgb(190 209 207);

    // skeleton
    --skeleton-shadow: rgb(34 34 34);
    --skeleton-color: #ac5aff;

    // bg code
    --bg-code: rgb(75 6 32);

    // bg card
    --bg-card: #6f1ac3;
}
