.navbar {
    width: 100%;
    height: var(--navigate-heigth);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
}

.mainLink {
    margin-right: 15px;
}

.links {
    margin-left: auto;
}
