.ProfileCard {
    padding: 20px;
    border: 1px solid var(--secondary-color);
}

.input {
    margin: 10px 20px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.readonlyBorder {
    border: 1px solid var(--inverted-secondary-color);
}

.data {
    display: flex;
    flex-direction: column;
}

.avatar {
    display: flex;
    justify-content: center;
}
